<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Digital Marketing</h2>
    <p>I am comfortable working on omnichannel marketing projects, including building a brand from ground zero!</p>
  </div>
  <div class="tech">
    <h2>Creative Coding</h2>
    <p>My main focus right now is Sonic Pi and TidalCycles. They are built on Ruby and Haskell respectively.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Facebook, Google, Twitter, LinkedIn, Sonic Pi, TidalCycles, Figma, Adobe Creative Cloud, and a few scores more - I have used a bajillion tools!</p>
  </div>
</div>
